*,
*::before,
*::after { box-sizing: border-box; }

body { margin: initial; }
h1,
h2,
h3 {
    font-size: 100%;
    margin: initial;
}
ol,
ul {
    list-style-type: none;
    padding: initial;
}
p { margin: initial; }
a { background: initial; }
i { font-style: normal; }
img {
    border: initial;
    vertical-align: top;
}
svg { fill: currentColor; }
label {
    border: initial;
    margin: initial;
}
button,
input,
textarea {
    border-radius: initial;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    margin: initial;
}
button {
    background: initial;
    border: initial;
    cursor: pointer;
    margin: initial;
    overflow: visible;
    padding: initial;
    text-align: inherit;
}
input { line-height: normal; }
textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: initial;
}

:focus { outline: initial; }
:disabled { cursor: default; }
[hidden] { display: none; }

/* stackoverflow.com/a/5518143/2588140 */
button::-moz-focus-inner {
    border: initial;
    padding: initial;
}

.doc h1,
.doc h2,
.doc h3 { margin: 1.5em 0 .75em; }
.doc h1 {
    font-size: 200%;
    line-height: 1.1;
}
.doc h2 {
    font-size: 150%;
    line-height: 1.1;
}
.doc h3 {
    font-size: 125%;
    line-height: 1.2;
}
.doc h4,
.doc h5,
.doc h6 { font-size: 100%; }
.doc ol,
.doc ul {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}
.doc ol { list-style-type: decimal; }
.doc ul { list-style-type: disc; }
.doc li { line-height: 1.5; }
.doc p {
    line-height: 1.5;
    margin: 1.5em 0;
}
.doc blockquote {
    border-left: 5px solid $gray2;
    line-height: 1.5;
    margin: 1.5em 0;
    padding: 0 1.5em;
}
.doc a { color: $link; }
.doc i { font-style: italic; }
.doc img {
    max-width: 100%;
    height: auto;
    background: $gray1;
    margin: 1.5em 0;
}